<a href="https://colab.research.google.com/github/dap258/BTE-320/blob/main/In_class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pi = 3.14
radius = float(input("Radius: "))
height = float(input("Height: "))

area = (2*pi*radius**2)+(2*pi*radius*height)
print("Surface Area =", area, "sq. ft")

Radius: 5
Height: 10
Surface Area = 471.0 sq. ft

In [ ]:
number1 = float(input("Please provide first number: "))
sign = input("Please provide operator (+, -, *, /, //, **, %): ")
number2 = float(input("Please provide second number: "))

if sign == '+':
  print(f'{number1} + {number2} = {number1 + number2}')
elif sign =='-':
  print(f'{number1} - {number2} = {number1 - number2}')
elif sign =='*':
  print(f'{number1} * {number2} = {number1 * number2}')
elif sign =='/':
  print(f'{number1} / {number2} = {number1 / number2}')
elif sign =='//':
  print(f'{number1} // {number2} = {number1 // number2}')
elif sign =='**':
  print(f'{number1} ^ {number2} = {number1 * number2}')
elif sign =='%':
  print(f'{number1} mod {number2} = {number1 % number2}')

Please provide first number: 6
Please provide operator (+, -, *, /, //, **, %): /
Please provide second number: 2
6.0 / 2.0 = 3.0

In [ ]:
for hour in range(1,9):
  fee = 5 + 2.5*hour
  if fee <= 10:
    fee = 10.0
  elif fee >= 20:
    fee = 20.0
  print(hour, fee)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
print('Ad$\t', 'Profit')
for adcost in range(0, 201, 25):
  additional = 2 * round(adcost**0.5)
  profit = (10*20) + (additional*10) - 200 - adcost
  print(adcost, '\t', profit)

Ad$	 Profit
0 	 0
25 	 75
50 	 90
75 	 105
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80

In [ ]:
play = input('Do You Want to Play The Game? Yes or No ')

while play == 'Yes':
  player1 = input('Player 1: Select Rock, Paper, or Scissors ')
  player2 = input('Player 2: Select Rock, Paper, or Scissors ')

  if player1 == player2:
    print('Draw')
  elif ((player1 == 'Rock' and player2 == 'Scissors') or
   (player1 == 'Scissors' and player2 == 'Paper') or
    (player1 == 'Paper' and player2 == 'Rock')):
    print('Player 1 Wins')
  else:
    print('Player 2 Wins')

  play = input('Do You Want to Play a New Game? Yes or No ')

print('Good Day! ')

Do You Want to Play The Game? Yes or No Yes
Player 1: Select Rock, Paper, or Scissors Rock
Player 2: Select Rock, Paper, or Scissors Paper
Player 2 Wins
Do You Want to Play a New Game? Yes or No No
Good Day!

In [ ]:
lst = []
num = float(input('Please provide a number: '))

while num != 0:
  lst.append(num)
  num = float(input('Please provide a number: '))

lst.sort(reverse=True)
lst

Please provide a number: 5
Please provide a number: 6
Please provide a number: 8
Please provide a number: 2
Please provide a number: 4
Please provide a number: 3
Please provide a number: 0

[8.0, 6.0, 5.0, 4.0, 3.0, 2.0]

In [ ]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for idx in range(len(numbers)):
  months[numbers[idx]] = names[idx]

months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
counts = {}

while len(counts) < 5:
  key = input('Give a string: ')
  if key not in counts:
    counts[key] = 1
  else:
    counts[key] = counts[key] + 1

counts

Give a string: a
Give a string: b
Give a string: c
Give a string: c
Give a string: d
Give a string: a
Give a string: a
Give a string: a
Give a string: e

{'a': 4, 'b': 1, 'c': 2, 'd': 1, 'e': 1}

In [ ]:
def calcFee(hours):
  fee = 5 + 2.5*hours
  if fee <= 10:
    fee = 10.0
  elif fee >= 20:
    fee = 20.0
  print(f'Fee: {fee}$')

def main():
  numHours = int(input('Enter number of hours: '))
  calcFee(numHours)

if __name__ == '__main__':
  main()

Enter number of hours: 4
Fee: 15.0$

In [ ]:
def reverse(word):
  if len(word) == 1:
    return word
  else:
    return word[-1] + reverse(word[:-1])

reverse('Hello')

'olleH'

In [ ]:
def calcFee(hours):
  fee = 5 + 2.5*hours
  if fee <= 10:
    fee = 10.0
  elif fee >= 20:
    fee = 20.0
  print(f'Fee: {fee}$')

def main():
  try:
    numHours = int(input('Enter number of hours: '))
    calcFee(numHours)
  except ValueError:
    print('Please enter a valid number')
  except:
    print('Unknown error...')

if __name__ == '__main__':
  main()

Enter number of hours: -5
Fee: 10.0$

In [ ]:
def getValues(n):
  L = []
  for i in range(n):
    weight = float(input("Enter weight: "))
    L.append(weight)
  return L

def calcAverage(alist):
  try:
    print(f'The average weight is: {sum(alist[2:]) / len(alist[2:])}')
  except ZeroDivisionError:
    print(f'List {alist} is empty')

if __name__ == "__main__":
  try:
    n = int(input("Enter size of list: "))
    alist = getValues(n)
    calcAverage(alist)
  except ValueError:
    print('Please enter a valid number')

Enter size of list: 0
List [] is empty

In [ ]:
class Greeting:
  def __init__(self, first, last):
    self.first = first
    self.last = last

  def display(self, formal=False):
    if formal:
      print(f'Hello {self.last} {self.first}')
    else:
      print(f'Hi {self.first}')

  def __str__(self):
    return f'{self.first}, {self.last}'

greeting = Greeting('Donald', 'Becker')
greeting.display(formal=True)
print(greeting)

Hello Becker Donald
Donald, Becker

In [ ]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
    self.courses = []

  def enroll(self, course):
    if course not in self.courses:
      self.courses.append(course)
    else:
      print(f'You have already enrolled in {course}.')

  def get_courses(self):
    return self.courses

s1 = Student('Bob', 100)
s2 = Student('Alice', 101)
s1.name, s2.name

('Bob', 'Alice')

In [ ]:
import math

class Point:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def distance(self, other):
    dx = (self.x - other.x)**2
    dy = (self.y - other.y)**2
    dist = math.sqrt(dx + dy)
    return(dist)

In [ ]:
class Rectangle:
  def __init__(self):
    self.c1 = Point(0,0)
    self.c2 = Point(0,2)
    self.c3 = Point(2,0)
    self.c4 = Point(2,2)
    self.width = self.calculate_width()
    self.height = self.calculate_height()

  def calculate_width(self):
    return self.c1.distance(self.c2)

  def calculate_height(self):
    return self.c3.distance(self.c4)

  def area(self):
    return self.width * self.height

square = Rectangle()
square.area()

4.0